/* Initialisation */
* {
  margin: 0;
  padding: 0;
}
img {
  width: 200px;
  border-radius: 50px;
}
h3 {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 5px red;
}
h2 {
  color: black;
  text-shadow: none;
}
h4 {
  color: black;
  text-shadow: none;
}
p {
  color: black;
  text-shadow: none;
}
h1 {
  color: seagreen;
  font-weight: bold;
}
h2.username {
  text-transform: uppercase;
}

li {
  display: inline-block;
  padding: 10px;
  background-color: whitesmoke;
}
* {
  font-family: "Roboto", sans-serif;
}
